<div class="post-item">
    <div class="post-img"><img src="{{post_data.blog_image.url}}" alt=""></div>
    <div class="post-main-info">
      <p class="post-title">{{post_data.title}}</p>
      <div class="post-meta">
        <span><i class="far fa-user" aria-hidden="true"></i> Posted by someone</span><span><i class="far fa-calendar" aria-hidden="true"></i> 30 07 2021</span><span><i class="far fa-comment-alt" aria-hidden="true"></i> 0 comments</span>
      </div>
    <p>{{post_data.subTitle}}</p>
      <a href="{% url 'single_post' post_data.id %}" class="main-button">Read More</a>
    </div>
  </div>